body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    color: #0044CC;
    text-decoration: none;
}

#leftcol {
    display: none;
}

#rightcol {
    display: block;
    max-width: 800px;
    margin: 40px auto;
    padding: 0 16px;
    box-sizing: border-box;
}

#main {
    border: solid 1px lightgray;
}

#titlename {
    font-size: xx-large;
    margin-bottom: 1em;
}

#shortbio {
    padding: 10px;
}

#rightcoltitle {
    font-size: x-large;
    color: gray;
    margin-bottom: 1em;
    background-color: lightgray;
    padding-left: 10px;
}

.paper {
    padding-left: 10px;
    margin-bottom: 1em;
}

.paper .authors, .paper .info {
    font-size: small;
}

.miscitem {
    padding-left: 10px;
    margin-bottom: 10px;
}

#bottom {
    font-size: small;
    padding: 10px;
}

#minskyquote {
    font-style: italic;
}
